.title{
  color: red;
}

.img-content{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url(../images/picture.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.container img {
  width: 300px;
  height: 300px;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
  border-radius: 20px;
  box-shadow: 0 0 10px #f00;
  display: flex;
}
.container img:hover{
  transform: rotate(180deg);
}
.iconfont{
  font-size:30px
}